
h2,
h3 {
  text-align: center;
  font-size: 2.8em;
}
label, .listado {
  font-size: 1.4em;
}

.item-listado{
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-items: center;
  font-size: 16px;
  &>div{
    margin-right: 5px;
  }
  .contenedor-persona-restringida{
    max-width: 250px;
  }
}

@media (max-width: 740px) {
  .item-listado{
    .contenedor-persona-restringida{
      max-width: 100px;
    }
  }
}
