<!--Muñeco-->
<div class="lluvia">
  <marquee direction="down" scrolldelay="98">*</marquee>
  <marquee direction="down" scrolldelay="76">*</marquee>
  <marquee direction="down" scrolldelay="61">*</marquee>
  <marquee direction="down" scrolldelay="138">*</marquee>
  <marquee direction="down" scrolldelay="86">*</marquee>
  <marquee direction="down" scrolldelay="127">*</marquee>
  <marquee direction="down" scrolldelay="82">*</marquee>
  <marquee direction="down" scrolldelay="112">*</marquee>
  <marquee direction="down" scrolldelay="119">*</marquee>
  <marquee direction="down" scrolldelay="99">*</marquee>
  <marquee direction="down" scrolldelay="75">*</marquee>
  <marquee direction="down" scrolldelay="89">*</marquee>
  <marquee direction="down" scrolldelay="76">*</marquee>
  <marquee direction="down" scrolldelay="111">*</marquee>
  <marquee direction="down" scrolldelay="136">*</marquee>
  <marquee direction="down" scrolldelay="96">*</marquee>
  <marquee direction="down" scrolldelay="136">*</marquee>
  <marquee direction="down" scrolldelay="119">*</marquee>
  <marquee direction="down" scrolldelay="83">*</marquee>
  <marquee direction="down" scrolldelay="124">*</marquee>
  <marquee direction="down" scrolldelay="130">*</marquee>
  <marquee direction="down" scrolldelay="78">*</marquee>
  <marquee direction="down" scrolldelay="76">*</marquee>
  <marquee direction="down" scrolldelay="75">*</marquee>
  <marquee direction="down" scrolldelay="98">*</marquee>
  <marquee direction="down" scrolldelay="105">*</marquee>
  <marquee direction="down" scrolldelay="112">*</marquee>
  <marquee direction="down" scrolldelay="67">*</marquee>
  <marquee direction="down" scrolldelay="87">*</marquee>
  <marquee direction="down" scrolldelay="89">*</marquee>
  <marquee direction="down" scrolldelay="145">*</marquee>
  <marquee direction="down" scrolldelay="125">*</marquee>
  <marquee direction="down" scrolldelay="68">*</marquee>
  <marquee direction="down" scrolldelay="116">*</marquee>
  <marquee direction="down" scrolldelay="133">*</marquee>
  <marquee direction="down" scrolldelay="145">*</marquee>
  <marquee direction="down" scrolldelay="105">*</marquee>
  <marquee direction="down" scrolldelay="65">*</marquee>
  <marquee direction="down" scrolldelay="115">*</marquee>
  <marquee direction="down" scrolldelay="108">*</marquee>
  <marquee direction="down" scrolldelay="63">*</marquee>
  <marquee direction="down" scrolldelay="111">*</marquee>
  <marquee direction="down" scrolldelay="66">*</marquee>
  <marquee direction="down" scrolldelay="103">*</marquee>
  <marquee direction="down" scrolldelay="82">*</marquee>
  <marquee direction="down" scrolldelay="140">*</marquee>
  <marquee direction="down" scrolldelay="83">*</marquee>
  <marquee direction="down" scrolldelay="135">*</marquee>
  <marquee direction="down" scrolldelay="145">*</marquee>
  <marquee direction="down" scrolldelay="75">*</marquee>
  <marquee direction="down" scrolldelay="88">*</marquee>
  <marquee direction="down" scrolldelay="132">*</marquee>
  <marquee direction="down" scrolldelay="108">*</marquee>
  <marquee direction="down" scrolldelay="129">*</marquee>
  <marquee direction="down" scrolldelay="123">*</marquee>
  <marquee direction="down" scrolldelay="117">*</marquee>
  <marquee direction="down" scrolldelay="74">*</marquee>
  <marquee direction="down" scrolldelay="138">*</marquee>
  <marquee direction="down" scrolldelay="134">*</marquee>
  <marquee direction="down" scrolldelay="92">*</marquee>
  <marquee direction="down" scrolldelay="66">*</marquee>
  <marquee direction="down" scrolldelay="99">*</marquee>
  <marquee direction="down" scrolldelay="130">*</marquee>
  <marquee direction="down" scrolldelay="68">*</marquee>
  <marquee direction="down" scrolldelay="82">*</marquee>
  <marquee direction="down" scrolldelay="104">*</marquee>
  <marquee direction="down" scrolldelay="120">*</marquee>
  <marquee direction="down" scrolldelay="117">*</marquee>
  <marquee direction="down" scrolldelay="145">*</marquee>
  <marquee direction="down" scrolldelay="102">*</marquee>
  <marquee direction="down" scrolldelay="116">*</marquee>
  <marquee direction="down" scrolldelay="85">*</marquee>
  <marquee direction="down" scrolldelay="129">*</marquee>
  <marquee direction="down" scrolldelay="94">*</marquee>
  <marquee direction="down" scrolldelay="131">*</marquee>
  <marquee direction="down" scrolldelay="79">*</marquee>
  <marquee direction="down" scrolldelay="111">*</marquee>
  <marquee direction="down" scrolldelay="70">*</marquee>
  <marquee direction="down" scrolldelay="138">*</marquee>
  <marquee direction="down" scrolldelay="84">*</marquee>
  <marquee direction="down" scrolldelay="116">*</marquee>
  <marquee direction="down" scrolldelay="79">*</marquee>
  <marquee direction="down" scrolldelay="63">*</marquee>
  <marquee direction="down" scrolldelay="131">*</marquee>
  <marquee direction="down" scrolldelay="128">*</marquee>
  <marquee direction="down" scrolldelay="118">*</marquee>
  <marquee direction="down" scrolldelay="124">*</marquee>
  <marquee direction="down" scrolldelay="88">*</marquee>
  <marquee direction="down" scrolldelay="90">*</marquee>
  <marquee direction="down" scrolldelay="116">*</marquee>
  <marquee direction="down" scrolldelay="81">*</marquee>
  <marquee direction="down" scrolldelay="142">*</marquee>
  <marquee direction="down" scrolldelay="74">*</marquee>
  <marquee direction="down" scrolldelay="134">*</marquee>
  <marquee direction="down" scrolldelay="80">*</marquee>
  <marquee direction="down" scrolldelay="140">*</marquee>
  <marquee direction="down" scrolldelay="96">*</marquee>
  <marquee direction="down" scrolldelay="114">*</marquee>
  <marquee direction="down" scrolldelay="119">*</marquee>
  <marquee direction="down" scrolldelay="72">*</marquee>

  <div class="santa-image">
    <img
      src="http://www.animatedimages.org/data/media/359/animated-santa-claus-image-0420.gif"
      alt="santa"
    />
  </div>
</div>
