<app-header-trineo></app-header-trineo>

<div *ngIf="!noEcontrado; else juegoNoEcontrado" class="contenedor-ice">
  <div *ngIf="juego && juego.descripcion">
    <p class="titulo">{{ juego.descripcion }}</p>
    <p><i class="material-icons">face</i> Cantidad de personas: <span> {{ juego.personas && juego.personas.length }}</span></p>
    <ul>
      <li><i class="material-icons">star</i> Valor del Regalo:<span>{{ juego.condiciones.valorRegalo | currency: 'COP' }}</span></li>
      <li><i class="material-icons">create</i>
        Fecha Hora:
        <span>{{ juego.condiciones.fechaHoraJuego | date: "EEEE dd-MMMM-y" }}</span> a las
        <span>{{ juego.condiciones.fechaHoraJuego | date: "h:mm" }}</span>
      </li>
      <li><i class="material-icons">explore</i> Lugar:<span>{{ juego.condiciones.lugar }}</span> </li>
      <li><i class="material-icons">create</i> Observaciones:<span>{{ juego.condiciones.observacion }}</span> </li>
    </ul>
    <ol>
      <li *ngFor="let persona of juego.personas">
        <p [ngClass]="persona.idPersonaAsignada ? 'asignado':''">
          {{ persona.nombre }}
          <span *ngIf="persona.grupoFamiliar">({{ persona.grupoFamiliar }})</span>
          <button (click)="copiaValor(urlSorteo+persona.id)" class="btn">Copiar URL</button>
        </p>
      </li>
    </ol>
    <p><i class="material-icons">add_alert</i>
      Recuerda que a esta URL puedes ingresar para consultar si todos ya tiene asignado su amigo navideño.
      <span class="strong">{{urlJuego}}</span>
    </p>
  </div>
</div>
<ng-template #juegoNoEcontrado> Opps no se econtro ese juego </ng-template>
