p, i, li{
  color: #F0F8FF;
  font-size: 1.1em;
}

span{
  color: #F0F993;
}
.titulo{
  text-align: center;
  font-size: 1.6em;
}
.asignado{
  color: #B8FF33;
}

.strong{
font-weight: 600;
font-size: 1em;
color: #F0F993;
}
.btn{
  margin: 6px;
  font-size: 0.6em;
  height: 30px;
  width: 30%;
}

@media screen and (max-width: 450px) {
a{
  font-size: 14px;
   padding:5px 8px 5px 8px;
}
}

@media (max-width: 740px) {
    .btn{
      margin: 6px;
      font-size: 0.6em;
      height: 30px;
      width: 70%;
}
.strong{
  font-weight: 600;
  font-size: 0.6em;
  color: #F0F993;
  }
  }
