$primary-color: #f8e7dc !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: color("green", "base") !default;
$success-color: color("green", "lighten-2") !default;
$error-color: color("red", "lighten-2") !default;
$link-color: color("green", "base") !default;
$contraste-fondo: #b7fffe;

$fondo-color: #5047e4;

$resaltado-primary-color: #f0f993;
